[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git

[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/miloyip/rapidjson.git
